.restaurant-information {
  margin: 20px 0;
}
.restaurant-information-image {
  margin: 10px 0;
  width: 70%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.rating-costForTwo * {
  margin: 0 2px;
  font-weight: 600;
}

.rating-costForTwo > :first-child {
  font-size: 20px;
  line-height: 1;
}
.costForTwo-dot {
  font-size: 20px;
  color: rgb(0, 0, 0, 0.5);
}
.restaurant-dish-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 10px 0;
  font-size: 11px;
  color: rgb(0, 0, 0, 0.8);
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  padding: 20px 0;
}
.res-dish-price {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.res-dish-rating {
  font-size: 12px;
  font-weight: bold;
  padding: 0 2px;
}

.res-dish-rating.high-rating {
  color: green;
}
.res-dish-rating.low-rating {
  color: orange;
}
.res-dish-image-section {
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.res-dish-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.add-button {
  position: absolute;
  bottom: -10px;
  left: 30%;
  padding: 5px 30px;
  color: green;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.2);
}
.add-button:hover {
  cursor: pointer;
  background-color: grey;
}
.res-dish-description {
  margin: 10px 0;
  color: rgb(0, 0, 0, 0.5);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* show only 2 lines */
  -webkit-box-orient: vertical;
}
.back-icon {
  font-size: 20px;
  margin-right: 5px;
  padding: 2px 10px;
}
